@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="tblClaimStatus">
                <thead>
                    <tr>
                        <th>SNO.</th>
                        <th>CLAIM ID.</th>
                        <th>TITLE</th>
                        <th>REASON</th>
                        <th>CLAIM AMOUNT</th>
                        <th>CLAIM DATE</th>
                        <th>ACTION</th>
                        <th>ACTION BY</th>
                        <th>CURRENT STATUS</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/js/claim/claimStatus.js"></script>
