@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3>Assign/Change Role</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <form id="ProgramsAssignForm">
                                    <div class="row">
                                        <div class="col-4 offset-2">
                                            <div class="form-group" id="formGroupRoleNames">
                                                <label>Role Name</label>
                                                <select class="form-control" id="ddlRoleNames">
                                                    <option value="">Select</option>
                                                </select>
                                                <span id="errRoleNames"></span>
                                            </div>
                                        </div>
                                        <div class="col-5 offset-1 mt-4">
                                            <div class="mt-2">
                                                <button type="button" class="btn w-50 btn-info" id="btnGroupRightsSubmit">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered" id="tblRoleProgramRights">
                                    <thead>
                                        <tr>
                                            <th>SNO.</th>
                                            <th>Program Title</th>
                                            <th>Program Description</th>
                                            <th>Check</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<link href="~/css/checkbox.css" rel="stylesheet" />
<script src="~/js/assignrights/assigngrouprights.js"></script>