.Id_bg {
    
    border-radius: 0px 0px 30px 30px;
}

#profileImg {
    border-radius: 50%;
    border: 3px solid #00919E; /* Add border styling here */
}

#idCard {
    border: 2px solid #1f7575;
    background: linear-gradient(to right bottom,#ffff, #ffff, #00919E);
    border-radius: 43px 15px 30px 30px;
    font-family: math;
    width: 70%
}

.idHeader {
    background-color: #00919E;
    border-radius: 43px 15px 50px 0px;
}
