@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-8 offset-2">
        <div class="card">
            <div class="card-header">
                <h3>Assign/Change Role</h3>
            </div>
            <div class="card-body p-5">
                <form id="RoleAssignForm">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group" id="formGroupUserNames">
                                <label>User Name</label>
                                <select class="form-control" id="ddlUserNames">
                                    <option value="">Select</option>
                                </select>
                                <small class="form-text text-muted" id="showRole"></small>
                                <span id="errUserNames"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group" id="formGroupUserRoles">
                                <label>Role</label>
                                <select class="form-control" id="ddlUserRoles">
                                    <option value="">Select</option>
                                </select>
                                <span id="errUserRoles"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-around m-3">
                        <button type="button" class="btn w-25 btn-sm btn-info p-2 ml-auto" id="btnRoleAssignSubmit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/assignrole/assignrole.js"></script>